* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

input,
select,
textarea {
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  border-color: oklch(0.62 0.13 45) !important;
}

::placeholder {
  color: #b3ada3;
}
